@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

body{
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  
}

.md-input {
  background-color: #1d1f20;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 90%;
  }

.preview {
  border-radius: 4px;
  background-color: LightGray;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  width: 100%;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: LightGray;
}

@media (max-width: 450px) {
  body{
    margin: auto;
  }

  .md-input {
    height: 600px;
  }

  .preview {
    font-size: 80%;
    height: 80%;
  }
}